[submodule "loess_submodule"]
	path = loess_submodule
	url = https://github.com/bartverm/loess.git
[submodule "nmea_submodule"]
	path = nmea_submodule
	url = https://github.com/bartverm/nmea-toolbox.git
[submodule "brewermap_submodule"]
	path = brewermap_submodule
	url = https://github.com/DrosteEffect/BrewerMap.git
