[submodule "loess_submodule"]
	path = loess_submodule
	url = git@github.com:bartverm/loess.git
[submodule "nmea_submodule"]
	path = nmea_submodule
	url = git@github.com:bartverm/nmea-toolbox.git
[submodule "brewermap_submodule"]
	path = brewermap_submodule
	url = git@github.com:DrosteEffect/BrewerMap.git
